body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: wheat;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

.opcoes button {
    background-color: #2196F3;
    margin-top: 15px;
}

.opcoes button:hover {
    background-color: #1976D2;
}
